.ChipsList {
    width: 100%;
    overflow: hidden;
	display: flex;
	flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
	padding: 10px;
    gap: 8px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 0 auto;
}

.PopupButton {
    position: relative;
    min-width: 80px;

    height: 56px;
    padding: 8px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-color);
    border-radius: var(--border-radius);
    cursor: pointer;
    outline: none;
    border: none;
}

.treeDots {
    height: 20px;
    width: 20px;
}

.dropDown {
    position: relative;
    align-self: flex-end;
    background-color: rgba(192, 192, 192, 0.34);
    border-radius: var(--border-radius);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
    min-width: 40%;
    max-width: 80%;
}

.dropDownInner {
    display: flex;
    padding: 8px;
    gap: 8px;
    flex-wrap: wrap;
}
