.ChipsList {
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	padding: 10px;
	gap: 8px;
}

.container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.PopupButton {
	position: relative;
	min-width: 80px;
	height: 40px;
	padding: 8px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	background-color: var(--gray-color);
	border-radius: var(--border-radius);
	cursor: pointer;
	outline: none;
	border: none;
}

.disabled {
	cursor: default;
}

.treeDots {
	height: 20px;
	width: 20px;
}

.dropDown {
	position: relative;
	align-self: flex-end;
	width: 40%;
}

.dropDownInner {
	position: absolute;
	width: 100%;
	display: flex;
	padding: 8px;
	gap: 8px;
	flex-wrap: wrap;
	background-color: rgb(224, 224, 224);
	border-radius: var(--border-radius);
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
	z-index: 100;
	overflow: hidden;
	text-overflow: ellipsis;
}

@media (max-width: 640px) {
	.dropDown {
		width: 85%;
	}
}

@media (min-width: 640px) and (max-width: 1023px) {
	.dropDown {
		width: 60%;
	}
}
